html,
body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.count {
  width: 60px;
  height: 60px;
  background: lightgray;
  border-radius: 50%;
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 20px;
  font-family: verdana;
  float: left;
  margin: 30px;
  text-shadow: 1px 1px black;
  -webkit-box-shadow: 0px 0px 72px -9px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 72px -9px rgba(0,0,0,0.75);
box-shadow: 0px 0px 72px -9px rgba(0,0,0,0.75);