@media print {
    @page {
        size: auto;

/*
       margin: 0in .15in .20in .35in;
        margin-top: 0;
        margin-right:.2in;
        margin-bottom: .5in;
      */
    }
    a { display:none;
        text-decoration: none;
    }
    .button{
        display:none;
        text-decoration: none;

    }
    .profle{
        margin-bottom: 20px;
    }
    .leftprint{ display: none; }


@page  {
    @bottom-center{content: counter(page) " of " counter(pages);}
}



}


/*
div#reporttable table {
    border: 1px solid black; }
div#reporttable table th {
    border: 1px solid black;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 12px;
    }
div#reporttable table td{
    border: 1px solid black;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 12px;
}
div#reporttable table td a{
    text-decoration: none;
    color: black;
}
div#reporttable table {  border-collapse: collapse;   }
div#reporttable th {   height: 30px;  }
div#reporttable .tablefooter{height: 30px; }

*/